$bg: #f4f5f7;
$color: #101828;
$width: 100%;
$border: none;
$text: center;
$margin: 0.6rem;

.link-div {
  .links {
    width: $width;
    text-align: $text;
    margin: $margin;
  }
  button {
    background-color: $bg;
    color: $color;
    border: $border;
    width: $width;
    padding: 0.9rem;
    border-radius: 0.4rem;
  }
  #slack-link{
    margin-right: $margin;
  }
}
.footer{
  background-color: #FFFFFF;
  padding: 1.2rem;
  width: 80%;
  margin: auto;
  margin-top: 1rem;
}